[Desktop Entry]
Name=Audio Assault Amp Locker
GenericName=Amp Locker
Comment=Guitar Tone Suite
TryExec=mx.audioassault.amplocker
Exec=mx.audioassault.amplocker
Terminal=false
Type=Application
Keywords=Guitar;Audio;plugin;Amp;Amplifier
Icon=mx.audioassault.amplocker
StartupWMClass="Amp Locker"
Categories=Utility;Audio;
StartupNotify=false
